{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'Collect Last Game Data'|trans }}
    </div>

    <div class="with-padding">
        <h2>{{ 'Game Management'|trans }} :</h2>
        {% if save %}
            <div class="alert-success">
                {{ 'This Game Data have been successfully saved !'|trans }}
            </div>
        {% endif %}
        <a href="{{ path('staff_game_data_collect') }}" class="action-show"><i class="fa fa-search" aria-hidden="true"></i> {{ 'Collect Last Game Datas'|trans }}</a>
    </div>

{% endblock %}