{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'Collect Last Game Data'|trans }}
    </div>

    <div class="with-padding">
        <h2>{{ 'Last Game'|trans }}</h2>
        <div class="with-padding"></div>
        <div id="show-game">
        {% for key, team in game.teams %}
            <div class="team">
                <div class="team-title">{{ 'Team'|trans }} {{ key + 1 }}</div>
                <div class="players">
                    <div>{{ 'Players'|trans }}</div>
                {% for player in team.players %}
                    <div>{{ player.cardPattern }}</div>
                {% endfor %}
                </div>
                <div class="scores">
                    <div>{{ 'Scores'|trans }}</div>
                {% for score in team.scores %}
                    <div>{{ score }}</div>
                {% endfor %}
                </div>
                <div class="totalScore">
                    {{ 'Total Score'|trans }} : {{ team.totalScore }}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="with-padding"></div>
        <a href="{{ path('staff_game_data_save') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Add Thess Game Datas'|trans }}</a>
    </div>
{% endblock %}