{% extends ':admin:index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('admin_homepage') }}">{{ 'Administration Panel'|trans }}</a>
        > {{ 'Center Management'|trans }}
    </div>
    <div class="with-padding">
        <h2>{{ 'Center Management'|trans }}</h2>

        <div class="with-padding">

            <a href="{{ path('admin_center_new') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'New Center'|trans }}</a>
            <div class="with-padding"></div>

            {% if centers is not empty %}
            <table class="admin-table">
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Address'|trans }}</th>
                    <th>{{ 'ZIP'|trans }}</th>
                    <th>{{ 'City'|trans }}</th>
                    <th class="action-td"></th>
                    <th class="action-td"></th>
                    <th class="action-td"></th>
                </tr>
                {% for center in centers %}
                    <tr>
                        <td>{{ center.name }}</td>
                        <td>{{ center.address }}</td>
                        <td>{{ center.zipCode }}</td>
                        <td>{{ center.city }}</td>
                        <td><a href="{{ path('admin_center_show', {'center': center.id}) }}" class="action-show"><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a></td>
                        <td><a href="{{ path('admin_center_update', {'center': center.id}) }}" class="action-edit"><i class="fa fa-pencil" aria-hidden="true" title="{{ 'Edit'|trans }}"></i></a></td>
                        <td>
                            {% if not center.closedAt %}
                                <a href="{{ path('admin_center_close', {'center': center.id}) }}" class="action-delete"><i class="fa fa-ban" aria-hidden="true" title="{{ 'Close'|trans }}"></i></a>
                            {% else %}
                                <a class="action-disable"><i class="fa fa-ban" aria-hidden="true" title="{{ 'Close'|trans }}"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {%  endfor %}
            </table>
            {% else %}
                <span>{{ 'No Centers found !'|trans }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}