{% extends ':admin:index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('admin_homepage') }}">{{ 'Administration Panel'|trans }}</a>
        > <a href="{{ path('admin_center_homepage') }}">{{ 'Center Management'|trans }}</a>
        > {{ 'Center Details'|trans }}
    </div>

    <div class="with-padding">

    <h2>{{ 'Center Details'|trans }}</h2>

        <ul>
            <li><strong>{{ 'Name'|trans }} : </strong> {{ center.name }}</li>
            <li><strong>{{ 'Address'|trans }} :</strong> {{ center.address }}</li>
            <li><strong>{{ 'ZIP Code'|trans }} :</strong> {{ center.zipCode }}</li>
            <li><strong>{{ 'City'|trans }} :</strong> {{ center.city }}</li>
        </ul>

        <div class="with-padding"></div>

        <a href="{{ path('admin_center_update', {'center': center.id}) }}" class="action-edit"><i class="fa fa-pencil" aria-hidden="true" title="{{ 'Edit'|trans }}"></i> {{ 'Edit Center'|trans }}</a>
        <a href="{{ path('admin_center_close', {'center': center.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i> {{ 'Close Center'|trans }}</a>
    </div>
{% endblock %}