{% extends 'admin/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('admin_homepage') }}">{{ 'Administration Panel'|trans }}</a>
        > <a href="{{ path('admin_center_homepage') }}">{{ 'Center Management'|trans }}</a>
        > {{ 'Edit Center'|trans }}
    </div>

    <div class="with-padding">
        <h2>{{ 'Edit Center'|trans }}</h2>
        {% if success %}
            <div class="alert-success">{{ 'Center successfully edited !'|trans }}</div>
        {% endif %}

        <div class="form-register">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}