<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shinigami Laser - {{ 'Bourgogne\'s Greatest Laser Game !'|trans }}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"/>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
    {% endblock %}
    {% block javascript %}
        <script src="https://use.fontawesome.com/719165f4ec.js"></script>
    {% endblock %}
</head>

<body>
<div class="container">
    <header>
        <nav>
            <div id="user-nav">
                {% if is_granted('ROLE_CUSTOMER') %}
                    <a href="{{ path('customer_account') }}"
                       class="{% if app.request.attributes.get('_route') == 'customer_account' %}active{% endif %}">{{ 'My Account'|trans }}</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('security_logout') }}">{{ 'Logout'|trans }}</a>
                {% else %}
                    <a href="{{ path('security_login') }}"
                       class="{% if app.request.attributes.get('_route') == 'security_login' %}active{% endif %}">{{ 'Login'|trans }}</a>
                    <a href="{{ path('security_register') }}"
                       class="{% if app.request.attributes.get('_route') == 'security_register' %}active{% endif %}">{{ 'Register'|trans }}</a>
                {% endif %}
            </div>

            <h1 class="logo">Shinigami <span class="orange">Laser</span></h1>

            <div id="main-nav">
                <a href="{{ path('public_homepage') }}"
                   class="{% if app.request.attributes.get('_route') == 'public_homepage' %}active{% endif %}">{{ 'Home'|trans }}</a>
                {% if is_granted('ROLE_STAFF') %}
                    <a href="{{ path('staff_homepage') }}" class="{% if app.request.attributes.get('_route') == 'staff_homepage'%}active{% endif %}">{{ 'Staff Panel'|trans }}</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_homepage') }}"
                       class="{% if app.request.attributes.get('_route') == 'admin_homepage' %}active{% endif %}">{{ 'Administration Panel'|trans }}</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}

    <footer>
        &copy; 2017 - Shinigami Laser
    </footer>
</div>
</body>

</html>