{% extends 'base.html.twig' %}

{% block body %}
            <img src="{{ asset('images/bg1.jpg') }}" />
    <h3>{{ 'Bourgogne\'s Greatest <span class="orange">Laser</span> Games !'|trans|raw }}</h3>
            <p>
                {{ 'Bravely manifest a creature. The cloudy astronaut cunningly avoids the star. Clear protons, to the galaxy. This mind has only been disrupted by a lunar starship. Attitude, alignment, and honor. Nuclear flux at the colony was the rumour of ionic cannon, eated to an interstellar ship. United planets, to the space station. Walk wihtout disconnection, and we won’t convert a planet.'|trans }}
            </p>


{% endblock %}
