{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > {{ 'Administration Panel'|trans }}
    </div>
    <div class="with-padding">
        <h2>{{ 'Administration Panel'|trans }}</h2>

        <h3>{{ 'User Management'|trans }}</h3>

        <div class="with-padding">
            <a href="{{ path('admin_user_new') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'New User'|trans }}</a>
            <h4>{{ 'Administrators'|trans }} :</h4>
            {% if admins is not empty %}
                <table class="admin-table">
                    <tr>
                        <th>{{ 'Email'|trans }}</th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                    </tr>
                    {% for admin in admins %}
                        <tr>
                            <td>{{ admin.email }}</td>
                            <td><a href="{{ path('admin_user_update_role', {'user': admin.id}) }}" class="action-edit"><i class="fa fa-user-circle" aria-hidden="true" title="{{ 'Edit Role'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_update_password', {'user': admin.id}) }}" class="action-edit"><i class="fa fa-lock" aria-hidden="true" title="{{ 'Edit Password'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_delete', {'user': admin.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i></a></td>
                        </tr>
                    {%  endfor %}
                </table>
            {% else %}
                <span>{{ 'No Administrators found !'|trans }}</span>
            {% endif %}
            <h4>{{ 'Last 5 Staff Members Added'|trans }} :</h4>
            {% if staffs is not empty %}
                <table class="admin-table">
                    <tr>
                        <th>{{ 'Email'|trans }}</th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                    </tr>
                    {% for staff in staffs %}
                        <tr>
                            <td>{{ staff.email }}</td>
                            <td><a href="{{ path('admin_user_update_role', {'user': staff.id}) }}" class="action-edit"><i class="fa fa-user-circle" aria-hidden="true" title="M{{ 'Edit Role'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_update_password', {'user': staff.id}) }}" class="action-edit"><i class="fa fa-lock" aria-hidden="true" title="{{ 'Edit Password'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_delete', {'user': staff.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i></a></td>
                        </tr>
                    {%  endfor %}
                </table>
            {% else %}
                <span>{{ 'No Staff Member found !'|trans }}</span>
            {% endif %}
            <div class="with-padding"></div>
            <a href="{{ path('admin_user_homepage') }}" class="action-show"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'See All Special Users'|trans }}</a>
        </div>

        <div class="separator"></div>

        <h3>{{ 'Center Management'|trans }}</h3>

        <div class="with-padding">

            <a href="{{ path('admin_center_new') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'New Center'|trans }}</a>

            <h4>{{ 'Last 5 Added Centers'|trans }}</h4>

            {% if centers is not empty %}
                <table class="admin-table">
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Address'|trans }}</th>
                    <th>{{ 'ZIP'|trans }}</th>
                    <th>{{ 'City'|trans }}</th>
                    <th class="action-td"></th>
                    <th class="action-td"></th>
                    <th class="action-td"></th>
                </tr>
                {% for center in centers %}
                    <tr>
                        <td>{{ center.name }}</td>
                        <td>{{ center.address }}</td>
                        <td>{{ center.zipCode }}</td>
                        <td>{{ center.city }}</td>
                        <td><a href="{{ path('admin_center_show', {'center': center.id}) }}" class="action-show"><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a></td>
                        <td><a href="{{ path('admin_center_update', {'center': center.id}) }}" class="action-edit"><i class="fa fa-pencil" aria-hidden="true" title="{{ 'Edit'|trans }}"></i></a></td>
                        <td>
                            {% if not center.closedAt %}
                                <a href="{{ path('admin_center_close', {'center': center.id}) }}" class="action-delete"><i class="fa fa-ban" aria-hidden="true" title="{{ 'Close'|trans }}"></i></a>
                            {% else %}
                                <a class="action-disable"><i class="fa fa-ban" aria-hidden="true" title="{{ 'Close'|trans }}"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {%  endfor %}
            </table>
            {% else %}
                <span>{{ 'No Centers found !'|trans }}</span>
            {% endif %}
            <div class="with-padding"></div>
            <a href="{{ path('admin_center_homepage') }}" class="action-show"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'See All Centers'|trans }}</a>
        </div>
    </div>


{% endblock %}