{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > <a href="{{ path('staff_customer_show', {'user': user.id}) }}"> {{ 'Customer Details'|trans }}</a>
        > {{ 'Link A Card'|trans }}
    </div>

    <div class="with-padding">
        <h2>{{ 'Link A Card'|trans }}</h2>
        {% if error %}
            <div class="alert-danger">{{ 'Nothing matched your search query ! Please retry.'|trans }}</div>
        {% endif %}
        <h3>{{ 'User Details'|trans }}</h3>
        <ul>
            <li><strong>{{ 'Email'|trans }} : </strong> {{ user.email }}</li>
        </ul>
        {% if user.customer %}
            <h3>{{ 'Customer Details'|trans }} :</h3>
            <ul>
                <li><strong>{{ 'Full Name'|trans }} : </strong>{{ user.customer.lastName }} {{ user.customer.firstName }}</li>
                <li><strong>{{ 'Full Address'|trans }} : </strong>{{ user.customer.address }}, {{ user.customer.zipCode }}, {{ user.customer.city }}</li>
                <li><strong>{{ 'Phone N°'|trans }} : </strong>{{ user.customer.phone }}</li>
                <li><strong>{{ 'Birthdate'|trans }} : </strong>{{ user.customer.birthdate|date('d/m/Y') }}</li>
            </ul>
        {% endif %}
        <form action="{{ path('staff_customer_link_card', {'user': user.id}) }}" method="POST" id="form-login">
            <label for="search_query">{{ 'Card N° or NFC ID'|trans }} :</label><input type="text" id="search_query" name="search_query" />
            <button type="submit" name="submit">{{ 'Search'|trans }}</button>
        </form>
    </div>
{% endblock %}