{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > <a href="{{ path('staff_customer_show', {'user': user.id}) }}"> {{ 'Customer Details'|trans }}</a>
        > {{ 'Give Offer'|trans }}
    </div>

    <div class="with-padding">
    <h2>{{ 'Give An Offer'|trans }}</h2>
        {% if error %}
            <div class="alert-danger">
                {{ 'This Offer doesn\'t exists or the User already has it. Please verify your informations !'|trans }}
            </div>
        {% endif %}
            <h3>{{ 'User Details'|trans }}</h3>
            <ul>
                <li><strong>{{ 'Email'|trans }} : </strong> {{ user.email }}</li>
            </ul>
            {% if user.customer %}
                <h3>{{ 'Customer Details'|trans }} :</h3>
                <ul>
                    <li><strong>{{ 'Full Name'|trans }} : </strong>{{ user.customer.lastName }} {{ user.customer.firstName }}</li>
                    <li><strong>{{ 'Full Address'|trans }} : </strong>{{ user.customer.address }}, {{ user.customer.zipCode }}, {{ user.customer.city }}</li>
                    <li><strong>{{ 'Phone N°'|trans }} : </strong>{{ user.customer.phone }}</li>
                    <li><strong>{{ 'Birthdate'|trans }} : </strong>{{ user.customer.birthdate|date('d/m/Y') }}</li>
                </ul>
            {% endif %}
        <div class="form-register">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}