{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'Customer Details'|trans }}
    </div>

    <div class="with-padding">
    <h2>{{ 'User & Customer Details'|trans }} :</h2>

        <h3>{{ 'User Details'|trans }}</h3>

        <ul>
            <li><strong>{{ 'Email'|trans }} : </strong> {{ user.email }}</li>
        </ul>

        {% if user.customer %}
        <h3>{{ 'Customer Details'|trans }} :</h3>
        <ul>
            <li><strong>{{ 'Full Name'|trans }} : </strong>{{ user.customer.lastName }} {{ user.customer.firstName }}</li>
            <li><strong>{{ 'Full Address'|trans }} : </strong>{{ user.customer.address }}, {{ user.customer.zipCode }}, {{ user.customer.city }}</li>
            <li><strong>{{ 'Phone N°'|trans }} : </strong>{{ user.customer.phone }}</li>
            <li><strong>{{ 'Birthdate'|trans }} : </strong>{{ user.customer.birthdate|date('d/m/Y') }}</li>
        </ul>
        {% endif %}
        <h3>{{ 'Loyalty Cards'|trans }} :</h3>
            <a href="{{ path('staff_customer_link_card', {'user': user.id}) }}" class="action-add"><i class="fa fa-plus" aria-hidden="true" title="{{ 'Link Card'|trans }}"></i> {{ 'Link A Card'|trans }}</a>
        {% if user.cards is not empty %}
            <div class="with-padding"></div>
                <table class="admin-table">
            <tr>
                <th>{{ 'Card N°'|trans }}</th>
                <th>{{ 'Creation'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
            </tr>
            {% for card in user.cards %}
            <tr>
                <td>{{ card.cardPattern }}</td>
                <td>{{ card.createdAt|date('d/m/Y H:i:s') }}</td>
                <td>{% if card.disabledAt %}<span class="rouge">{{ 'Inactive'|trans }}{% else %}<span class="vert">{{ 'Active'|trans }}</span>{% endif %}</span></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if activeCard %}
            <h3>{{ 'Games'|trans }} :</h3>
            <div class="with-padding"></div>
            {% if games %}
                    <table class="admin-table">
                    <tr>
                    <th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Score'|trans }}</th>
                    <th>{{ 'Result'|trans }}</th>
                </tr>
                {% for game in games %}
                <tr>
                    <td>{{ game.date|date('d/m/Y') }}</td>
                    <td>{{ game.score }} {{ 'points'|trans }}</td>
                    <td>{% if game.victory == 1 %} {{ 'Victorious'|trans }} {% else %} {{ 'Defeated'|trans }} {% endif %}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        {% endif %}
        <h3>{{ 'Offers'|trans }} :</h3>
        <a href="{{ path('staff_customer_give_offer', {'user': user.id}) }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Give An Offer'|trans }}</a>
        <div class="with-padding"></div>
        {% if offers %}
            <table class="admin-table">
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Description'|trans }}</th>
                    <th>{{ 'Start'|trans }}</th>
                    <th>{{ 'End'|trans }}</th>
                    <th></th>
                </tr>
                {% for offer in offers %}
                    <tr>
                        <td>{{ offer.name }}</td>
                        <td>{{ offer.shortDescription }}</td>
                        <td>{{ offer.startAt|date('d/m/Y') }}</td>
                        <td>{{ offer.endAt|date('d/m/Y') }}</td>
                        <td style="text-align: right;">
                            <a href="{{ path('staff_customer_use_offer', {'user': user.id, 'offer': offer.id}) }}" class="action-delete"><i class="fa fa-euro" aria-hidden="true" title="{{ 'Use This Offer'|trans }}"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
            <div class="with-padding"></div>
                </div>
{% endblock %}