{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > {{ 'My Account'|trans }}
    </div>
    <div class="with-padding">
        <h2>{{ 'Your Account'|trans }}</h2>
        <h3>{{ 'My Details'|trans }} :</h3>
        {% if user.customer %}
        <a href="{{ path('customer_profile_edit') }}" class="action-edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'Edit My Profile'|trans }}</a>
        {% else %}
        <a href="{{ path('customer_profile_new') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Create My Profile'|trans }}</a>
        {% endif %}
        <ul>
            <li><strong>{{ 'Email'|trans }} : </strong> {{ user.email }}</li>
            {% if user.customer %}
            <li><strong>{{ 'Full Name'|trans }} : </strong>{{ user.customer.lastName }} {{ user.customer.firstName }}</li>
            <li><strong>{{ 'Phone N°'|trans }} : </strong>{{ user.customer.phone }}</li>
            <li><strong>{{ 'Full Address'|trans }} : </strong>{{ user.customer.address }}, {{ user.customer.zipCode }}, {{ user.customer.city }}</li>
            <li><strong>{{ 'Birthdate'|trans }} : </strong>{{ user.customer.birthdate|date('d/m/Y') }}</li>
            {% endif %}
        </ul>
        <h3>{{ 'Loyalty Program'|trans }} :</h3>
        {% if card %}
            <ul>
                <li>
                    <strong>{{ 'Card N°'|trans }} :</strong> {{ card.cardPattern }}
                    <a href="{{ path('customer_add_card') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Lost Card ? Add your New Card'|trans }}</a>
                </li>
            </ul>
        {% else %}
            <a href="{{ path('customer_add_card') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'Add a new Loyalty Card'|trans }}</a>
        {% endif %}

        {% if games %}
            <h3>{{ 'Player History'|trans }} :</h3>
            <ul>
                <li><strong>{{ 'Total Game Played'|trans }} : </strong>{{ player_history.gameCount }}</li>
                <li><strong>{{ 'Highest Score'|trans }} : </strong>{{ player_history.scoreHigh }} points</li>
                <li><strong>{{ 'Lowest Score'|trans }} : </strong>{{ player_history.scoreLow }} points</li>
                <li><strong>{{ 'Average Score'|trans }} : </strong>{{ player_history.scoreAvg }} points</li>
            </ul>
            <div class="player-history win">
                <div>{{ 'Victory'|trans }}</div>
                <div class="vert"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                <div>{{ player_history.victoryCount }}</div>
            </div><div class="player-history lose">
                <div>{{ 'Defeat'|trans }}</div>
                <div class="rouge"><img src="{{ asset('images/defeat.png') }}" /></div>
                <div>{{ player_history.defeatCount }}</div>
            </div><div class="player-history">
                <div>{{ 'Ratio'|trans }}</div>
                {% if player_history.ratio > 1 %}
                <div class="vert"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                {% else %}
                <div class="rouge"><i class="fa fa-thumbs-o-down"></i></div>
                {% endif %}
                <div>{{ player_history.ratio }}</div>
            </div>
            <div class="with-padding"></div>
            <a href="{{ path('customer_player_history') }}" class="action-show"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'See All Game History'|trans }}</a>
        {% endif %}

        <h3>{{ 'My Promo Codes'|trans }}</h3>
        <a href="{{ path('customer_add_promo', {'user': user.id}) }}" class="action-add"><i class="fa fa-plus" aria-hidden="true" title="{{ 'Enter a Promo Code'|trans }}"></i> {{ 'Enter a Promo Code'|trans }}</a>
        {% if offers is not empty %}
            <p>{{ 'You currently have these offers avaiable. Don\'t hesitate to ask our Staff Members for more informations !'|trans }}</p>
            <div class="with-padding"></div>
            {% if offers %}
                {% for offer in offers %}
                    <div class="offer">
                        <div class="offer-name">{{ offer.name }}</div>
                        <div class="offer-description">{{ offer.description }}</div>
                        <div class="offer-date"><strong>{{ 'Availability'|trans }} :</strong> {{ 'from'|trans }} {{ offer.startAt|date('d/m/Y') }} {{ 'to'|trans }} {{ offer.endAt|date('d/m/Y') }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
{% endblock %}
