{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('customer_account') }}">{{ 'My Account'|trans }}</a>
        > {{ 'Enter a Promo Code'|trans }}
    </div>
    <div class="with-padding">
    <h2>{{ 'Enter a Promo Code'|trans }}</h2>
        {% if error %}
            <div class="alert-danger">
                {{ 'This Promo Code doesn\'t exists or you already have/used it, please verify your informations.'|trans }}
            </div>
        {% endif %}
        <div class="form-register">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}