{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('customer_account') }}">{{ 'My Account'|trans }}</a>
        > {{ 'Add a Loyalty Card'|trans }}
    </div>
    <div class="with-padding">
    <h2>{{ 'Add a Loyalty Card'|trans }}</h2>
        {% if error %}
            <div class="alert-danger">
                {{ 'This card doesn\'t exist. Please verify your informations.'|trans }}
            </div>
        {% endif %}
        <div class="with-padding">
            {{ 'When adding a New Loyalty Card to your Account, this will permanently disable your previously added Loyalty Card.'|trans }}
        </div>
        <div class="with-padding"></div>
        <div class="form-register">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

