{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('customer_account') }}">{{ 'My Account'|trans }}</a>
        > {{ 'My Player History'|trans }}
    </div>
    <div class="with-padding">
        <h2>{{ 'My Player History'|trans }} :</h2>
        <div class="with-padding"></div>
        {% if games %}
        <table class="admin-table">
            <tr>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Score'|trans }}</th>
                <th>{{ 'Result'|trans }}</th>
            </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.date|date('d/m/Y') }}</td>
                <td>{{ game.score }} {{ 'points'|trans }}</td>
                <td>{% if game.victory == 1 %} {{ 'Victorious'|trans }} {% else %} {{ 'Defeated'|trans }} {% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
        <div class="with-padding"></div>
    </div>
{% endblock %}