{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('customer_account') }}">{{ 'My Account'|trans }}</a>
        > {{ 'My Profile'|trans }}
    </div>
    <div class="with-padding">
    <h2>{{ 'My Profile'|trans }}</h2>
    </div>
    <div class="form-register">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
