{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'All Offers'|trans }}
    </div>

    <div class="with-padding">
        <h2>{{ 'Offer Management'|trans }}</h2>

        <h3>{{ 'All Offers'|trans }}</h3>

        <table class="admin-table">
            <tr>
               <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Promo Code'|trans }}</th>
                <th>{{ 'Start'|trans }}</th>
                <th>{{ 'End'|trans }}</th>
                <th class="action-td"></th>
                <th class="action-td"></th>
                <th class="action-td"></th>
            </tr>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.name }}</td>
                    <td>{{ offer.promoCode }}</td>
                    <td>{{ offer.startAt|date('d/m/Y') }}</td>
                    <td>{{ offer.endAt|date('d/m/Y') }}</td>
                    <td><a href="{{ path('staff_offer_show', {'offer': offer.id}) }}" class="action-show"><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a></td>
                    <td><a href="{{ path('staff_offer_edit', {'offer': offer.id}) }}" class="action-edit"><i class="fa fa-pencil" aria-hidden="true" title="{{ 'Edit'|trans }}"></i></a></td>
                     <td><a href="{{ path('staff_offer_delete', {'offer': offer.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i></a></td>
                </tr>
            {%  endfor %}
        </table>
    </div>
{% endblock %}