{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'New Offer'|trans }}
    </div>
    <div class="with-padding">
    <h2>{{ 'New Offer'|trans }}</h2>
    {% if success %}
        <div class="alert-success">
            {{ 'The New Offer has been successfully added !'|trans }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert-danger">
            {{ 'An Offer with this Promo Code already exists !'|trans }}
        </div>
    {% endif %}
    </div>

    <div class="form-register">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}