{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
    <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
    > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
    > {{ 'Offer Details'|trans }}
    </div>
    <div class="with-padding">
    <h2>{{ 'Offer Details'|trans }}</h2>
        <ul>
            <li><strong>{{ 'Name'|trans }} : </strong> {{ offer.name }}</li>
            <li><strong>{{ 'Description'|trans }} :</strong> {{ offer.description }}</li>
            <li><strong>{{ 'Promo Code'|trans }} :</strong> {{ offer.promoCode }}</li>
            <li><strong>{{ 'Start'|trans }} :</strong> {{ offer.startAt|date('d/m/Y') }}</li>
            <li><strong>{{ 'End'|trans }} :</strong> {{ offer.endAt|date('d/m/Y') }}</li>
        </ul>
    </div>
        <div class="with-padding">
            <a href="{{ path('staff_offer_edit', {'offer': offer.id}) }}" class="action-edit"><i class="fa fa-pencil" aria-hidden="true" title="{{ 'Edit'|trans }}"></i> {{ 'Edit Offer'|trans }}</a>
            <a href="{{ path('staff_offer_delete', {'offer': offer.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i> {{ 'Remove Offer'|trans }}</a>
        </div>

{% endblock %}