/**
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;

    #FFFFFA
    #A1A194
    #5B605F
    #464646
    #FF6600
 */
html, body {
    height:100%;
}
body {
    background-color: #464646;
    color: #464646;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 980px;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 100%;
}
a,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
    color: #ff6600;
}
a:hover {
    color: #464646;
}
a.active {
    color: #464646;
}
a.active:hover {
    color: #ff6600;
}
h1.logo {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 20px 10px;
    letter-spacing: 2px;
}
.orange {
    color: #ff6600;
}
#user-nav {
    float:right;
}
#user-nav a,
#user-nav a:focus,
#user-nav a:visited,
#user-nav a:hover {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 3px 10px;
}
#main-nav {
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
    width: 100%;
}
#main-nav a,
#main-nav a:focus,
#main-nav a:visited,
#main-nav a:hover {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.4em;
}
#main-nav a.active {
    color: #464646;
}
footer {
    border-top: 1px solid #C9C9C9;
    padding: 10px 0 0 10px;
    font-size: 0.8em;
}
h3 {
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
}
p {
    padding: 10px;
}
.center {
    text-align: center;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin: 10px 0 15px 0;
}
form#form-login {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
form#form-login label {
    display: block;
    padding: 10px 5px;
}
form#form-login input {
    border: 1px solid #ff6600;
    padding: 5px;
    width: 100%;
}
form#form-login button {
    display: block;
    margin: 20px auto;
    background-color: #ff6600;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    padding: 10px 30px;
}
div.form-register {
    width: 600px;
    margin: 0 auto;
}
div.form-register label {
    display: inline-block;
    width: 300px;
    padding: 5px 0;
}
div.form-register input {
    border: 1px solid #ff6600;
    padding: 5px;
    margin: 5px 0;
    width: 288px;
}
div.form-register #app_bundle_customer_type_birthdate,
div.form-register #app_bundle_offer_type_startAt,
div.form-register #app_bundle_offer_type_endAt {
    display: inline-block;
}
div.form-register select {
    border: 1px solid #ff6600;
    padding: 5px;
    margin: 5px 5px 5px 0;
}
div.form-register button {
    display: block;
    margin: 20px auto;
    background-color: #ff6600;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    padding: 10px 30px;
}
#admin-nav {
    border-bottom: 1px solid #464646;
    width: 100%;
    background-color: #ff6600;
}
#admin-nav a,
#admin-nav a:focus,
#admin-nav a:visited,
#admin-nav a:hover {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 10px 10px;
    font-size: 1em;
    color: #ffffff;
}
#admin-nav a.active {
    color: #464646;
}
#staff-nav {
    border-bottom: 1px solid #464646;
    width: 100%;
    background-color: #ff6600;
}
#staff-nav a,
#staff-nav a:focus,
#staff-nav a:visited,
#staff-nav a:hover {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    padding: 10px 10px;
    font-size: 1em;
    color: #ffffff;
}
#staff-nav a.active {
    color: #464646;
}
a.action-add,
a.action-add:visited,
a.action-add:focus,
a.action-add:hover {
    display: inline-block;
    background-color: #629755;
    color: #fff;
    padding: 10px;
    margin: 2px;
    min-width: 20px;
    text-align: center;
}
a.action-show,
a.action-show:visited,
a.action-show:focus,
a.action-show:hover {
    display: inline-block;
    background-color: #5eb5e0;
    color: #ffffff;
    padding: 7px;
    margin: 2px;
    min-width: 20px;
    text-align: center;
}
a.action-edit,
a.action-edit:visited,
a.action-edit:focus,
a.action-edit:hover {
    display: inline-block;
    background-color: #aa80ff;
    color: #ffffff;
    padding: 7px;
    margin: 2px;
    min-width: 20px;
    text-align: center;
}
a.action-delete,
a.action-delete:visited,
a.action-delete:focus,
a.action-delete:hover {
    display: inline-block;
    background-color: #EF7777;
    color: #ffffff;
    padding: 7px;
    margin: 2px;
    min-width: 20px;
    text-align: center;
}
a.action-disable,
a.action-disable:visited,
a.action-disable:focus,
a.action-disable:hover {
    display: inline-block;
    background-color: #C9C9C9;
    color: #ffffff;
    padding: 7px;
    margin: 2px;
    min-width: 20px;
    text-align: center;
}
.vert {
    color: #8CDA50;
    font-weight: bold;
}
.rouge {
    color: #EF7777;
    font-weight: bold;
}
.with-padding {
    padding: 10px;
    float: none;
    display: block;
}
.admin-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #464646;
}
.admin-table td, .admin-table th {
    border-bottom: 1px solid #464646;
    padding: 3px 0 3px 3px;
}
.admin-table th {
    background-color: #ff6600;
    color: #ffffff;
}
.action-td {
    width: 15px;
}
.alert-success {
    padding: 10px;
    background-color: #66dd66;
    border: 1px solid #629755;
    margin: 10px 0;
}
.alert-danger {
    padding: 10px;
    background-color: #EF7777;
    border: 1px solid #880000;
    margin: 10px 0;
}
div.player-history {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    float: left;
}
div.player-history.lose {
    margin-right: 0;
}
div.player-history img {
    height: 90%;
    padding: 2% 0;
}
div.player-history div:nth-child(2) {
    height: 80px;
    padding: 10px 0;
}
div.player-history i {
    font-size: 2.5em
}
div.player-history:first-of-type {
    margin-left: 5%;
}
div.offer {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    border: 1px solid #ff6600;
    padding: 10px;
    box-sizing: border-box;
}
div.offer-name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #ff6600;
}
div.offer-description {
    margin: 10px 0;
    font-size: 0.8em;
}
div.offer-date {
    font-size: 0.7em;
}
div.team {
    width: 47%;
    display: inline-block;
    padding: 2%;
    border: 1px solid #ff6600;
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
}
div#show-game div.team:nth-child(even) {
    margin-right: 0;
}
div#show-game div.team:nth-child(even) {
    margin-left: 0;
}
div.team-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #ff6600;
    text-align: center;
    padding: 10px 0;
}
div.players,
div.scores {
    display: inline-block;
    width: 45%;
}
div.players div:first-child,
div.scores div:first-child{
    font-weight: bold;
}
div.players div,
div.scores div {
    border-bottom: 1px solid #464646;
    padding: 5px 0;
}
div.totalScore {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    padding: 5px 0;
}
#breadcrumbs {
    padding: 10px;
    font-size: 0.8em;
}
#breadcrumbs a {
    padding: 0 5px;
}
div.separator {
    width: 100%;
    float: none;
    display: block;
    background-color: #ff6600;
    height: 1px;
    margin-top: 20px;
}