{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'New Loyalty Card'|trans }}
    </div>

    <div class="with-padding">
    <h2>{{ 'New Loyalty Card'|trans }}</h2>
        <p>
            {{ 'Please, scan a blank card, and insert it into the printer to create a New Loyalty Card'|trans }}
        </p>
    </div>
    <div class="form-register">
        <label for="card_pattern" style="width: 290px;">{{ 'Card N°'|trans }}</label>
        <input type="text" name="card_pattern" id="card_pattern" value="{{ card.cardPattern }}"/>
        <form method="post" action="{{ path('staff_card_print', {'card': card.id, 'nfcId': nfc_id}) }}">
        <label for="card_hex_id" style="width: 290px;">NFC ID</label>
        <input type="text" name="card_hex_id" id="card_hex_id" value="{{ nfc_id }}" />
        <button type="submit" name="add_card">{{ 'Print New Card'|trans }}</button>
        </form>
    </div>
{% endblock %}