{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'New Loyalty Card'|trans }}
    </div>

    <div class="with-padding">

        <h2>{{ 'New Loyalty Card'|trans }}</h2>
        {% if success %}
            <div class="alert-success">{{ 'New Loyalty Card added successfully !' |trans }}</div>
        {% endif %}

        <div class="form-register">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}