{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'Loyalty Card Details'|trans }}
    </div>

    <div class="with-padding">
    <h2>{{ 'Loyalty Card Details'|trans }} :</h2>
        <h3>{{ 'General Details'|trans }}</h3>
        <ul>
            <li><strong>{{ 'Center'|trans }} : </strong> {{ card.center.name }}</li>
            <li><strong>{{ 'Card N°'|trans }} :</strong> {{ card.cardPattern }}</li>
            <li><strong>{{ 'NFC ID'|trans }} : </strong> {{ card.cardHexId }}</li>
            <li><strong>{{ 'Status'|trans }} : </strong>{% if card.disabledAt %} <span class="rouge">{{ 'Disabled'|trans }}</span> {% else %} <span class="vert">{{ 'Active'|trans }}</span> {% endif %}</li>
            {%  if card.user %}
                <li><strong>{{ 'Email'|trans }} :</strong> {{ card.user.email }}</li>
                {% if card.user.customer %}
                <li>
                    <strong>{{ 'Customer'|trans }} :</strong>
                    <ul>
                        <li><strong>{{ 'Email'|trans }} : </strong>{{ card.user.customer.lastName }} {{ card.user.customer.firstName }}</li>
                        <li><strong>{{ 'Full Address'|trans }} : </strong>{{ card.user.customer.address }}, {{ card.user.customer.zipCode }} {{ card.user.customer.city }}</li>
                        <li><strong>{{ 'Phone N°'|trans }} : </strong>{{ card.user.customer.phone }}</li>
                        <li><strong>{{ 'Birthdate'|trans }} : </strong>{{ card.user.customer.birthdate|date('d/m/Y') }}</li>
                    </ul>
                </li>
                {% endif %}
            {% endif %}
        </ul>
        {% if card.gameDatas is not empty %}
            <h3>{{ 'Games'|trans }} :</h3>
            <div class="with-padding"></div>
            <table class="admin-table">
                <tr>
                    <th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Score'|trans }}</th>
                    <th>{{ 'Result'|trans }}</th>
                </tr>
                {% for gamedata in card.gameDatas %}
                    <tr>
                        <td>{{ gamedata.date|date('d/m/Y') }}</td>
                        <td>{{ gamedata.score }} {{ 'points'|trans }}</td>
                        <td>{% if gamedata.victory == 1 %} {{ 'Victorious'|trans }} {% else %} {{ 'Defeated'|trans }} {% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <div class="with-padding"></div>

        {% if not card.disabledAt %}
            <a href="{{ path('staff_card_disable', {'card': card.id}) }}" class="action-delete"><i class="fa fa-ban" aria-hidden="true" title="{{ 'Disable'|trans }}"></i> {{ 'Disable'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}