{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > {{ 'Staff Panel'|trans }}
    </div>
    <div class="with-padding">
        <h2>{{ 'Staff Panel'|trans }}</h2>
        <div class="with-padding">
            <h3>{{ 'Search for an User or A Customer'|trans }}</h3>
            {% if error %}
                <div class="alert-danger">{{ 'Nothing matched your search query ! Please retry.'|trans }}</div>
            {% endif %}
            <form action="{{ path('staff_homepage') }}" method="POST" id="form-login">
                <label for="search_query">{{ 'Search by Email, Name Card N° of NFC ID'|trans }} :</label><input type="text" id="search_query" name="search_query" />
                <button type="submit" name="submit">{{ 'Search'|trans }}</button>
            </form>

            <div class="separator"></div>

            <h3>{{ 'Game Management'|trans }}</h3>

            <a href="{{ path('staff_game_data_collect') }}" class="action-edit"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'Collect Last Game Data'|trans }}</a>

            <div class="separator"></div>

            <h3>{{ 'Loyalty Cards'|trans }}</h3>

            <a href="{{ path('staff_card_new') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'New Loyalty Card'|trans }}</a>

            <div class="with-padding"></div>

            {% if cards is not empty %}
                <h4>{{ 'Last 5 Created Loyalty Cards'|trans }}</h4>

                <table class="admin-table">
                    <tr>
                        <th>{{ 'Card N°'|trans }}</th>
                        <th>{{ 'Creation'|trans }}</th>
                        <th>{{ 'Link'|trans }}</th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                    </tr>
                    {% for card in cards %}
                        <tr>
                            <td>{{ card.cardPattern }}</td>
                            <td>{{ card.createdAt|date('d/m/Y H:i:s') }}</td>
                            <td>{% if card.user %} {{ card.user.email }} {% else %} {{ 'Anonymous'|trans }} {% endif %}</td>
                            <td>
                                <a href="{{ path('staff_card_show', {'card': card.id}) }}" class="action-show" disabled><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a>
                            </td>
                            <td>
                                {% if not card.disabledAt %}
                                    <a href="{{ path('staff_card_disable', {'card': card.id}) }}" class="action-delete"><i class="fa fa-ban" aria-hidden="true" title="{{ 'Disable'|trans }}"></i></a>
                                {% else %}
                                    <a class="action-disable"><i class="fa fa-ban" aria-hidden="true" title=""></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {%  endfor %}
                </table>
            {% else %}
                <span>{{ 'No Card found !'|trans }}</span>
            {% endif %}

            <div class="with-padding"></div>
            <div class="separator"></div>

            <h3>{{ 'Users & Customers'|trans }}</h3>

            {% if users is not empty %}
                <h4>{{ 'Last 5 Subscribed Users'|trans }}</h4>
                <table class="admin-table">
                    <tr>
                        <th>{{ 'Email'|trans }}</th>
                        <th>{{ 'Full Name'|trans }}</th>
                        <th>{{ 'Full Address'|trans }}</th>
                        <th class="action-td"></th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{% if user.customer %}{{ user.customer.lastName }} {{ user.customer.firstName }}{% else %}{{ 'Anonymous'|trans }}{% endif %}</td>
                            <td>{% if user.customer %}{{ user.customer.address }}, {{ user.customer.zipCode }} {{ user.customer.city }}{% else %}{{ 'Anonymous'|trans }}{% endif %}</td>
                            <td><a href="{{ path('staff_customer_show', {'user': user.id}) }}" class="action-show"><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a></td>
                        </tr>
                    {%  endfor %}
                </table>
            {% else %}
                <span>{{ 'No Customer found !'|trans }}</span>
            {% endif %}

            <div class="with-padding"></div>

            <div class="separator"></div>

            <h3>{{ 'Offers'|trans }}</h3>

            <a href="{{ path('staff_offer_new') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'New Offer'|trans }}</a>

            <h3>{{ 'Active Promo Code'|trans }}</h3>

            {% if offers is not empty %}
                <table class="admin-table">
                    <tr>
                        <th>{{ 'Name'|trans }}</th>
                        <th>{{ 'Promo Code'|trans }}</th>
                        <th>{{ 'Start'|trans }}</th>
                        <th>{{ 'End'|trans }}</th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                    </tr>
                    {% for offer in offers %}
                        <tr>
                            <td>{{ offer.name }}</td>
                            <td>{{ offer.promoCode }}</td>
                            <td>{{ offer.startAt|date('d/m/Y') }}</td>
                            <td>{{ offer.endAt|date('d/m/Y') }}</td>
                            <td><a href="{{ path('staff_offer_show', {'offer': offer.id}) }}" class="action-show"><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a></td>
                            <td><a href="{{ path('staff_offer_edit', {'offer': offer.id}) }}" class="action-edit"><i class="fa fa-pencil" aria-hidden="true" title="{{ 'Edit'|trans }}"></i></a></td>
                            <td><a href="{{ path('staff_offer_delete', {'offer': offer.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i></a></td>
                        </tr>
                    {%  endfor %}
                </table>
                <div class="with-padding"></div>
                <a href="{{ path('staff_offer_show_all') }}" class="action-show"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'See All Promo Code'|trans }}</a>
            {% else %}
                <span>{{ 'No Offer found !'|trans }}</span>
            {% endif %}
        </div>

    </div>
{% endblock %}