{% extends 'staff/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('staff_homepage') }}"> {{ 'Staff Panel'|trans }}</a>
        > {{ 'Search Results'|trans }}
    </div>

    <div class="with-padding">
        <h2>{{ 'Search Results'|trans }}</h2>

        <h3>{{ 'Results for \'' ~ query ~ '\''|trans }} :</h3>

        <h4>{{ 'Users & Customers'|trans }}</h4>
        {% if results.type == 'user' %}
        <table class="admin-table">
            <tr>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Full Name'|trans }}</th>
                <th class="action-td"></th>
            </tr>
            {% for user in results.details %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{% if user.customer %}{{ user.customer.lastName }} {{ user.customer.firstName }}{% else %}{{ 'Anonymous'|trans }}{% endif %}</td>
                    <td><a href="{{ path('staff_customer_show', {'user': user.id}) }}" class="action-show"><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a></td>
                </tr>
            {%  endfor %}
        </table>
        {% endif %}
        {% if results.type == 'card' %}
            <table class="admin-table">
                <tr>
                    <th>{{ 'Card N°'|trans }}</th>
                    <th>{{ 'NFC ID'|trans }}</th>
                    <th>{{ 'User'|trans }}</th>
                    <th class="action-td"></th>
                </tr>
                {% for card in results.details %}
                    <tr>
                        <td>{{ card.cardPattern }}</td>
                        <td>{{ card.cardHexId }}</td>
                        <td>{% if card.user %}{{ card.user.email }}{% else %}{{ 'Anonymous'|trans }}{% endif %}</td>
                        <td><a href="{{ path('staff_card_show', {'card': card.id}) }}" class="action-show"><i class="fa fa-eye" aria-hidden="true" title="{{ 'Show'|trans }}"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <td>
{% endblock %}
