{% extends 'base.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > {{ 'Login'|trans }}
    </div>
    {% if error %}
        <div class="with-padding">
            <div class="center alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}
    <div class="center">
        <h2>{{ 'Log<span class="orange">in</span>'|trans|raw }}</h2>
    </div>
    <form action="{{ path('security_login') }}" method="post" id="form-login">
        <label for="email">{{ 'Email'|trans }}</label>
        <input type="email" name="_username" id="email" value="{{ last_email }}" />
        <label for="password">{{ 'Password'|trans }}</label>
        <input type="password" name="_password" id="password" />
        <button type="submit" name="submit">{{ 'Log In'|trans }}</button>
    </form>

{% endblock %}