{% extends 'base.html.twig' %}
{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > {{ 'Register'|trans }}
    </div>
    <div class="with-padding">
        <div class="center">
            <h2>{{ 'Regis<span class="orange">ter</span>'|trans|raw }}</h2>
        </div>
        {% if success %}
            <div class="alert-success">
                {{ 'Registration Success ! You can now access our website with your credentials'|trans }} <a href="{{ path('security_login') }}">{{ 'here'|trans }}</a>.
            </div>
        {% else %}
            <div class="form-register">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}