{% extends ':admin:index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('admin_homepage') }}">{{ 'Administration Panel'|trans }}</a>
        > {{ 'User Management'|trans }}
    </div>
    <div class="with-padding">
        <h2>{{ 'User Management'|trans }} :</h2>

        <div class="with-padding">
            <a href="{{ path('admin_user_new') }}" class="action-add"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'New User'|trans }}</a>
            <h4>{{ 'Administrators'|trans }} :</h4>
            {% if admins is not empty %}
                <table class="admin-table">
                    <tr>
                        <th>{{ 'Email'|trans }}</th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                    </tr>
                    {% for admin in admins %}
                        <tr>
                            <td>{{ admin.email }}</td>
                            <td><a href="{{ path('admin_user_update_role', {'user': admin.id}) }}" class="action-edit"><i class="fa fa-user-circle" aria-hidden="true" title="{{ 'Edit Role'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_update_password', {'user': admin.id}) }}" class="action-edit"><i class="fa fa-lock" aria-hidden="true" title="{{ 'Edit Password'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_delete', {'user': admin.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i></a></td>
                        </tr>
                    {%  endfor %}
                </table>
            {% else %}
                <span>{{ 'No Administrators found !'|trans }}</span>
            {% endif %}
            <h4>{{ 'All Staff Members'|trans }} :</h4>
            {% if staffs is not empty %}
                <table class="admin-table">
                    <tr>
                        <th>{{ 'Email'|trans }}</th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                        <th class="action-td"></th>
                    </tr>
                    {% for staff in staffs %}
                        <tr>
                            <td>{{ staff.email }}</td>
                            <td><a href="{{ path('admin_user_update_role', {'user': staff.id}) }}" class="action-edit"><i class="fa fa-user-circle" aria-hidden="true" title="M{{ 'Edit Role'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_update_password', {'user': staff.id}) }}" class="action-edit"><i class="fa fa-lock" aria-hidden="true" title="{{ 'Edit Password'|trans }}"></i></a></td>
                            <td><a href="{{ path('admin_user_delete', {'user': staff.id}) }}" class="action-delete"><i class="fa fa-times" aria-hidden="true" title="{{ 'Remove'|trans }}"></i></a></td>
                        </tr>
                    {%  endfor %}
                </table>
            {% else %}
                <span>{{ 'No Staff Member found !'|trans }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}