{% extends 'admin/index.html.twig' %}

{% block body %}
    <div id="breadcrumbs">
        <a href="{{ path('public_homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ 'Home'|trans }}</a>
        > <a href="{{ path('admin_homepage') }}">{{ 'Administration Panel'|trans }}</a>
        > <a href="{{ path('admin_user_homepage') }}">{{ 'User Management'|trans }}</a>
        > {{ 'Edit User'|trans }}
    </div>
    <div class="with-padding">
        <h2>{{ 'Edit User'|trans }}</h2>
        {% if success %}
            <div class="alert-success">{{ 'User successfully edited !'|trans }}</div>
        {% endif %}
        <ul>
            <li><strong>{{ 'Email'|trans }} : </strong>{{ user.email }}</li>
            <li>
                <strong>{{ 'Role'|trans }} : </strong>
                {% if user.role == 'ROLE_ADMIN' %}
                    {{ 'Administrator'|trans }}
                {% else %}
                    {{ 'Staff'|trans }}
                {% endif %}
            </li>
        </ul>
        <div class="form-register">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}